{{!-- Editor footer: auto-save hint --}}
<footer class="qs-editor__footer">
  <span class="qs-autosave"><i class="fa-solid fa-cloud-arrow-up"></i> {{localize "QUESTSYSTEM.AutoSaveHint"}}</span>
</footer>
