<section class="hsgm-create-form">
  <label class="hsgm-field">
    <span>{{localize "HSGM.FolderName"}}</span>
    <input type="text" name="folderName" value="" autofocus />
  </label>

  <footer class="hsgm-dialog-actions">
    <button type="button" data-action="cancel">
      <i class="fa-solid fa-xmark"></i>{{localize "HSGM.Cancel"}}
    </button>
    <button type="submit" class="hsgm-primary">
      <i class="fa-solid fa-folder-plus"></i>{{localize "HSGM.Create"}}
    </button>
  </footer>
</section>
